.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navigation li {
    float: left;
}
.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 80px;
    text-decoration: none;
}

.navigation li a:hover {
    background-color: orangered;
}

.background{
    background-color: grey;
}
.border{

    background-color: grey;
    border-radius: 25px;
    border: -10px solid;
    padding: 25px; 
    width: 500px;
    height: 20px; 
     
}
.border-item{
    margin: 0;
}
.bottom ul li{
    list-style-type: none;
    text-align: center;
}
.bottom-border{
    border-bottom: 2px solid;
}
